body{
  margin:0;
  background:#000 url('../assets/silicon-texture.jpg');
  background-size:cover;
  color:#fff;
  font-family:'Orbitron',sans-serif;
  overflow-x:hidden;
}

canvas{
  position:fixed;
  top:0;
  left:0;
  z-index:-2;
}

.scanlines{
  pointer-events:none;
  position:fixed;
  width:100%;
  height:100%;
  background:repeating-linear-gradient(
    to bottom,
    rgba(255,255,255,0.02),
    rgba(255,255,255,0.02) 1px,
    transparent 1px,
    transparent 3px
  );
  z-index:-1;
}

section{
  min-height:100vh;
  padding:120px 10%;
  opacity:0;
  transform:translateY(40px);
  transition:1s;
}

section.show{
  opacity:1;
  transform:translateY(0);
}

.btn{
  padding:12px 30px;
  border:2px solid #fff;
  color:#fff;
  text-decoration:none;
}

#bootTerminal{
  position:fixed;
  width:100%;
  height:100vh;
  background:#000;
  color:#0f0;
  font-family:'IBM Plex Mono',monospace;
  padding:40px;
  z-index:9999;
}

#terminalBox{
  background:#000;
  border:1px solid #fff;
  padding:20px;
  font-family:monospace;
}

#command{
  width:100%;
  background:#000;
  border:none;
  color:#fff;
}
